@import url('https://fonts.googleapis.com/css?family=Exo+2');

html{
    font-family: "Exo 2", "Helvetica", Arial, sans-serif;
}

body{
    background-color: black;
    color: white;
}

.links{
    width: 100%;
    float: top;
    height: 60px;
}

.pagePart{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}
